body {
  font-family: "OpenSans", arial;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
}
p {
  font-family: "OpenSans", arial;
}
.container {
  align-self: flex-end;
  margin: 0 auto;
  width: 75%;
}
.jumbotron {
  box-sizing: border-box;
  background: url("../images/balaidesa.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  height: 500px;
}
.jumbotron .inner h1,
h3 {
  margin: 0;
}
.inner h1 {
  font-size: 3em;
}
.inner h3 {
  font-size: 1.5em;
}
.jumbotron .inner {
  padding: 50px 0;
  background-color: rgba(55, 55, 55, 0.3);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: auto 0;
  width: auto;
}
nav {
  background: #024959;
  box-shadow: 2px 2px 2px silver;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.row {
  display: flex;
  box-sizing: border-box;
  height: 90px;
}
.nav-brand {
  padding: 5px;
  box-sizing: border-box;
  flex: 1;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  /* width: 16.6666666667%; */
}
/* .logo {
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  height: 90px;
} */
.nav-brand a {
  display: flex;
}
.nav-brand img {
  box-sizing: border-box;
  margin-left: 10px;
  height: 75px;
  vertical-align: middle;
}
.nav-brand h1,
h6 {
  margin: 0;
  display: block;
  color: white;
}
.nav-menu {
  flex: 4;
  height: 100%;
}
.nav-menu ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
.nav-menu ul li {
  text-align: center;
  width: 90px;
  display: block;
  background: inherit;
  margin: auto 0;
  line-height: 90px;
  font-family: "Rajdhani", sans-serif;
}
.nav-menu ul li a {
  height: 90px;
  background: #024959;
  display: inline-block;
  color: #ffe;
  padding: 0 5px;
  width: 100%;
  box-sizing: border-box;
}
.nav-menu ul li a:hover {
  background: #092140;
  border-bottom: 5px solid #92cf48;
}
.nav-menu ul li a:active {
  background: #92cf48;
}
.nav-sisa {
  flex: 1;
  position: relative;
  /* width: 16.6666666667%; */
}
.nav-sisa .kontak {
  line-height: 90px;
  height: 90px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.nav-sisa .kontak a {
  border-radius: 5px;
  font-family: "Rajdhani", sans-serif;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #92cf48;
  line-height: 30px;
  font-weight: 550;
  color: white;
  display: inline-block;
  transition: 0.5s all;
  border: 2px solid #92cf48;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.nav-sisa .kontak a:hover {
  background: none;
  color: #92cf48;
}

.clear {
  clear: both;
}

.judul_section {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

.judul_section h1 {
  color: #024959;
  font-weight: bold;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}

.judul_section hr {
  width: 250px;
  border-top: 3px solid #024959;
  margin: 0 auto;
}

.berita .berita_section {
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grid {
  display: flex;
  position: relative;
  /* background-color: lightskyblue; */
  width: 100%;
  box-sizing: border-box;
  /* margin-bottom: 10px; */
  margin: 0 3px 6px;
}
.cover_grid_news {
  width: 270px;
  height: auto;
}
.cover_grid_news img {
  height: auto;
  width: 250px;
}
.read-more {
  display: inline-block;
}
.judul {
  height: 25px;
  margin: 0;
}
.judul h3 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
  text-align: justify;
}
.judul h3 a {
  text-transform: uppercase;
  color: #000;
}
.judul h3 a:hover {
  color: #92cf48;
}

.isi p {
  text-align: justify;
}
.read-more {
  width: 100%;
  margin: 5px;
}
.attr {
  margin: 0;
  font-family: "OpenSans", arial;
  font-size: 12px;
}
.attr p {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  font-weight: bold;
}
.attr p a {
  color: rgba(0, 0, 0, 0.5);
}
.attr p a:hover {
  color: rgba(0, 0, 0, 1);
}
.isi p {
  font-size: 15px;
  margin-bottom: 0;
}
.tombol_lihat {
  margin: 0;
  float: right;
  text-transform: uppercase;
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 11px;
  position: relative;
  font-style: italic;
  color: #92cf48;
  padding-bottom: 10px;
}
.more_berita {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
  background-color: #024959;
  text-align: center;
}
.more_berita a {
  color: white;
}
.tombol_lihat a {
  color: rgba(0, 0, 0, 0.5);
}
.more_berita h3 {
  margin: 0;
  color: white;
}
.tombol_lihat a:hover,
.more_berita a:hover {
  color: #92cf48;
}
.galeri {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.galeri img {
  margin: 5px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 17vw;
  /* width: 300px; */
  height: 100%;
}
.img {
  margin: 5px;
  margin-right: 0px;
  max-width: 240px;
  height: 100%;
}
/* Lihat Artikel */
.artikel-section {
  margin: 10px 0;
}
.artikel-section .attr {
  margin-bottom: 25px;
}
.imgartikel {
  float: left;
  display: inline-block;
}
.imgartikel img {
  margin-right: 15px;
  /* width:500px; */
  max-width: 400px;
}

/* Kontak Kami */
.mainContent {
  width: 35%;
  margin: auto;
  background: #fff;
}
.contactFrm h4 {
  font-size: 1em;
  color: #252525;
  margin-bottom: 0.5em;
  font-weight: 300;
  letter-spacing: 5px;
}
.contactFrm input[type="text"],
.contactFrm input[type="email"] {
  width: 70%;
  outline: none;
  font-size: 0.9em;
  padding: 0.7em 1em;
  border: 1px solid #000;
  -webkit-appearance: none;
  display: block;
  margin-bottom: 1.2em;
}
.contactFrm textarea {
  resize: none;
  width: 93.5%;
  font-size: 0.9em;
  outline: none;
  padding: 0.6em 1em;
  border: 1px solid #000;
  min-height: 10em;
  -webkit-appearance: none;
}
.contactFrm input[type="submit"] {
  outline: none;
  color: #ffffff;
  padding: 0.5em 0;
  font-size: 1em;
  margin: 1em 0 0 0;
  -webkit-appearance: none;
  background: #024959;
  transition: 0.5s all;
  border: 2px solid #024959;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
  width: 47%;
  cursor: pointer;
}
.contactFrm input[type="submit"]:hover {
  background: none;
  color: #024959;
}
/* #024959 */
p.statusMsg {
  font-size: 18px;
}
p.succdiv {
  color: #008000;
}
p.errordiv {
  color: #e80000;
}

/* Footer */
.footer {
  display: flex;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #092140;
  flex-direction: column;
}
.footer h1 {
  margin: 0;
  color: white;
}
.rowflex {
  padding: 10px 0;
  width: 100%;
}
.peta {
  float: left;
  box-sizing: border-box;
  border-right: 2px solid #024959;
  text-align: center;
  height: 208px;
  width: 50%;
}
.peta iframe {
  margin: 10px;
}
.kutipan {
  padding: 0 20px;
  color: white;
  float: left;
  box-sizing: border-box;
  border-left: 2px solid #024959;
  text-align: center;
  height: 208px;
  width: 50%;
}
.kutipan img {
  height: 100px;
  margin-top: 10px;
}
.kutipan p {
  font-size: 1.5vw;
  margin: 0;
}
.copyright-section {
  text-align: center;
  color: white;
  background-color: #024959;
  height: 50px;
  flex: 1;
}
